.visited-country {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 5px;
  max-width: 350px;
  max-height: 300px;
  margin-right: 10px;
}

.country-flag {
  height: 70%;
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #334155;
  padding: 10px;
  height: 20%;
  width: 100%;
}

.name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  margin: 5px;
}

.remove-button {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #94a3b8;
  margin: 5px;
  outline: none;
  cursor: pointer;
}
